<p>Welcome to your new game</p>

<h4>Players:</h4>
<ul>
  <% @state.players.each do |player| %>
    <li><%= 'Your turn: ' if player == @state.current_player %><%= player %></li>
  <% end %>
</ul>

<% if @player %>
  <h3><%= @player.name %></h3>
  <div class="hand">
    <% @player.hand.each do |card| %>
      <div class="card"><%= card.color %></div>
    <% end %>
  </div>

  <%= form_tag("/games/#{@game.id}/actions/create") do %>
    <%= hidden_field_tag(:action_type, 'draw_route_cards') %>
    <%= submit_tag('Draw Route Cards') %>
  <% end %>

  <%= form_tag("/games/#{@game.id}/actions/create") do %>
    <%= hidden_field_tag(:action_type, 'keep_route_cards') %>
    <% @player.potential_routes.each do |route_card| %>
      <%= check_box_tag 'route_cards_to_keep[]' %>
      <div class="card route-card">Route: <%= route_card %></div>
    <% end %>

    <%= submit_tag('Keep Route Cards') %>
  <% end -%>

<% end %>

<% @state.available_train_cards.each_with_index do |train_card, index| %>
  <%= train_card.color %>
  <%= form_tag("/games/#{@game.id}/actions/create") do %>
    <%= hidden_field_tag(:action_type, train_card_action_type(train_card)) %>
    <%= hidden_field_tag(:card_index, index) %>
    <%= submit_tag('Draw') %>
  <% end %>
<% end %>

<% if not playing_game? @game %>
    <%= link_to("Join Game", game_players_path(@game), method: :post) %>
<% end %>
