<a href='http://cdn1.daysofwonder.com/tickettoride/en/img/tt_rules_2013_en.pdf'>The Rules</a>
<% if not playing_game? @game %>
  <h1><%= link_to("Join Game", game_players_path(@game), method: :post)%></h1>
<% end %>


<% if @player %>

  <% if @state.final_turn? %>
    <h3>Final Turn</h3>
  <% end %>

  <div class="route-cards">
    <%= form_tag("/games/#{@game.id}/actions/create") do %>
      <%= hidden_field_tag(:action_type, 'draw_route_cards') %>
      <%= submit_tag('Draw Route Cards') %>
    <% end %>

    <%= form_tag("/games/#{@game.id}/actions/create") do %>
      <%= hidden_field_tag(:action_type, @game.initial_round? ? 'keep_initial_route_cards' : 'keep_route_cards') %>
      <%= submit_tag('Keep Route Cards') %>

      <% @player.potential_routes.each_with_index do |route, index| %>
        <%= check_box_tag 'route_cards_to_keep[]', index %>
        <div class="card route-card" data-from="<%=route.origin.id%>" data-to="<%=route.destination.id%>"><%= route %></div>
      <% end %>
    <% end -%>
  </div>

<% end %>


<div class="links">

  <svg
    width="950"
    height="800"
    viewBox="-100 -100 1000 900">

    <% if @player %>
      <text x="900" text-anchor="end" class="big-text white-svg-text"><%= @player %></text>

      <% if @player.id == @state.current_player.id %>
        <text x="900" y="25" text-anchor="end" class="big-text white-svg-text">It's your turn</text>
      <% end %>
    <% end %>

    <% @state.links.each do |link| %>
      <%= link_svg(link) %>
    <% end %>

    <% @state.cities.each do |city| %>
      <%= city_svg(city) %>
    <% end %>

    <rect class="sidebar" x="-150" y="-44" width="170" height="900"/>
    <rect class="sidebar" x="-150" y="600" width="1100" height="200"/>
    <text y="620" x="30" fill="white">Hand</text>

    <foreignObject x="-120" y="600" width="130" height="500">
        <% @state.players.each do |player| %>
          <p class="small-text" style="color:#<%=player.color%>;">
            <%= player.id == @state.current_player.id ? "> " : "  " %>
            <%= player %>
        </p>
        <% end %>
    </foreignObject>

    <foreignObject width="170" height="1100" x="-110" y="-20">
      <%= form_tag("/games/#{@game.id}/actions/create") do %>
        <%= hidden_field_tag(:action_type, 'draw_train_card_from_deck') %>
        <%= submit_tag('Draw from Deck', class: "deck card extra-vgap") %>
      <% end %>

      <div class="cards">
        <% @state.available_train_cards.each_with_index do |train_card, index| %>
          <%= form_tag("/games/#{@game.id}/actions/create") do %>
            <%= hidden_field_tag(:action_type, train_card_action_type(train_card)) %>
            <%= hidden_field_tag(:card_index, index) %>
            <%= submit_tag('Draw', class: "card #{train_card.color}") %>
          <% end %>
        <% end %>
      </div>
    </foreignObject>

    <% if @player %>
      <%= hand_svg(@player.hand) %>
    <% end %>
  </svg>
</div>

<% if @player %>
  <h4>Claimed route cards:</h4>
  <div class="claimed-route-cards">
    <% @player.routes.each do |route| %>
      <div class="card route-card" data-from="<%=route.origin.id%>" data-to="<%=route.destination.id%>"><%= route %></div>
    <% end %>
  </div>
<% end %>


<%= javascript_include_tag 'games_show.js' %>
