<!DOCTYPE html>
<html>
<head>
  <title>TicketToRide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<div class="header">
  <% if current_user %>
    <%= "Signed in as #{current_user.username}" %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
